{% extends 'base.html' %} {% load static %} {% block content %}
<div class="main-content relative">
  <div class="page-content dark:bg-zinc-700 min-h-screen text-gray-700">
    <div class="flex flex-col justify-center items-center md:flex-row">
      <div class="my-5 flex gap-2 self-start md:hidden">
        <div class="flex justify-center items-center">
          <i data-feather="framer" class="inline-block w-[15px] h-[15px] dark:stroke-white"></i>
          <p class="text-xs text-violet-600">{{ product.product_type }}</p>
        </div>
        <div class="flex justify-center items-center">
          <p class="text-xs text-zinc-100">Version: <span class="text-black dark:text-white">{{ product.version }}</span></p>
        </div>
        <div class="flex justify-center items-center">
          <p class="text-xs text-zinc-100">Update: <span class="text-black dark:text-white">{{ product.last_update }}</span></p>
        </div>
      </div>
      <div class="md:w-[30%] md:min-h-screen md:px-3 md:border-r-[1px]">
        <div class="overflow-hidden rounded-tl-lg rounded-br-lg w-[355px] h-[236.66px] shadow md:w-full md:h-full">
          <img src="{{ product.photo.url }}" alt="" class="object-cover m-auto" />
        </div>
        <form action="{% url 'product:payment' product.id %}" method="post">
          {% csrf_token %}
          <button class="w-full bg-violet-500 rounded py-2 my-4 text-white hidden md:block hover:bg-violet-600" type="submit">${{ product.price }}</button>
        </form>
      </div>
      <div class="my-5 w-[70%] md:px-10 md:min-h-screen">
        <div class="my-5 hidden gap-2 self-start md:flex">
          <div class="flex justify-center items-center">
            <i data-feather="framer" class="inline-block w-[15px] h-[15px] dark:stroke-white"></i>
            <p class="text-xs text-violet-600">{{ product.product_type }}</p>
          </div>
          <div class="flex justify-center items-center">
            <p class="text-xs text-zinc-100">Version: <span class="text-black dark:text-white">{{ product.version }}</span></p>
          </div>
          <div class="flex justify-center items-center">
            <p class="text-xs text-zinc-100">Update: <span class="text-black dark:text-white">{{ product.last_update }}</span></p>
          </div>
        </div>
      <ul>
        {% for _ in 'x'|ljust:product.rating|default:0 %}
        <li class="inline-block">
          <i data-feather="star" class="fill-orange-300 stroke-none w-[15px] h-[15px]"></i>
        </li>
        {% endfor %}
      </ul>
        <div class="flex justify-center items-center gap-2 mb-5 md:justify-start w-full">
          <h1 class="text-2xl font-semibold dark:text-white">{{ product.title }}</h1>
        </div>
        <p class="dark:text-zinc-100">{{ product.description|safe }}</p>
      </div>
    </div>
  </div>
  <div class="bg-violet-500 w-full fixed bottom-0 left-0 right-0 py-3 md:hidden">
    <div class="flex justify-center items-center gap-2">
      <!-- <i data-feather="download" class="stroke-white"></i> -->
      <form action="{% url 'product:payment' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="text-white text-xl">${{ product.price }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
